// Animation fade-in
@keyframes fadein 
{
	0% 
	{
		opacity: 0.2;
	}
	
	100% 
	{
		opacity: 0.8;
	}
}

// Animation blur
@keyframes blur 
{
	0% 
	{
		filter: blur(0px);
	}
	
	100% 
	{
		filter: blur(4px);
	}
}