---
layout: default
home: true
---

<h3 class="projects-text">Recent Projects</h3>
<div class="cards-grid-container grid-size">
    <div class="card">
        <a href="https://www.unrealengine.com/marketplace/en-US/product/ad0040f7dbbc45cebdcbc4b2c5982904" style="text-decoration: none">
            <img src="/assets/img/AndroidPlayBillingPlugin.png" class="card-image">
            <div class="card-footer">
                <p class="card-name-text">Android Play Billing</p>
                <p class="card-type-text">Unreal Engine Plugin</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://www.unrealengine.com/marketplace/en-US/product/2a6af776ec8a493b9fac74cf31503682" style="text-decoration: none">
            <img src="/assets/img/FirebaseAnalyticsPlugin.png" class="card-image">
            <div class="card-footer">
                <p class="card-name-text">Firebase Analytics</p>
                <p class="card-type-text">Unreal Engine Plugin</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="https://www.unrealengine.com/marketplace/en-US/product/3285bd4919d5433792ccbdfe034c91e6" style="text-decoration: none">
            <img src="/assets/img/FirebaseAuthenticationPlugin.png" class="card-image">
            <div class="card-footer">
                <p class="card-name-text">Firebase Authentication</p>
                <p class="card-type-text">Unreal Engine Plugin</p>
            </div>
        </a>
    </div>
</div>
